#pov_chart {
    width: 50%;
    height: 20%;
    position: absolute;
    top: 250px;
    left: 20%;
    color: white;
    position: absolute;
    z-index: 1002; /* Ensure the chart is above the map */
}