body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', serif;
  background: black;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#info {
  z-index: 1002;
  position: absolute;
  width: 500px;
  top: 1%;
  bottom: 1%;
  left: .5%;
  padding: 40px 15px 900px 15px;
  background: #555B6E;
  color: #CAF7E2;
}

/* social media icons */
#socials {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 12.5px;
  margin-right: 32px;
}

#info a {
  color: lightgray;
}

#info a:hover {
  color: white;
  opacity: 0.3;
}

#reset {
  margin-left: auto;
}

#reset a {
  color: #EF8354;
}

#title {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  margin: auto;
  width: 95%;
}

/* social media icons */
#title span {
  font-size: 14px;
  float: right;
  margin-right: 10px;
}

/* card decks */
.chart-title {
  text-align: center;
  color: #CAF7E2;
  font-size: medium;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.chart-desc {
  color: #62b9a3;
  margin-left: 12.5px;
  margin-right: 32px;
}

#footer {
  position: absolute;
  bottom: 0px;
  margin-bottom: 20px;
  margin-left: 12.5px;
  margin-right: 32px;
  font-size: 13px;
  line-height: 150%;
  color: #BFACC8;
}

/* the layout of the legend panel */
#legend {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 110px;
  background: #fff;
  margin-right: 20px;
  margin-bottom: 40px;
  padding: 10px 20px 10px 10px;
  border-radius: 3px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* each line for a break */
.break {
  position: relative;
  margin: 0px;
  padding: 0px;
}

/* basic style for a dot/circle */
.dot {
  display: inline-block;
  margin-top: 5px;
  border-radius: 50%;
  opacity: 0.6;
}

/* the label for the dot */
.dot-label {
  position: absolute;
  top: 0;
  right: 0;
  font-style: italic;
}

/* bar chart */
text {
  fill: lightgray;
}

.tick line {
  stroke: gray;
}

.c3-axis path {
  stroke: gray;
}

.name,
.value {
  background-color: black;
  color: black
}

#count {
  display: flex;
  justify-content: center;
}

#count p {
  margin: 0;
}

#chart-axis {
  text-align: center;
  color: lightgray;
  margin: 0;
}

#diploma-section {
  display: flex;
  flex-direction: row-reverse;
}

/* #diploma-desc {
  margin-top: 0px;
} */

#legend2 {
  position: fixed;
  bottom: 20px;
  left: 65%;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 4px; /* Further reduced padding */
  z-index: 1000;
  display: flex;
  justify-content: center;
  width: auto;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 0 6px; /* Further reduced margin */
}

.legend-key {
  width: 12px; /* Further reduced width */
  height: 12px; /* Further reduced height */
  margin-right: 2px; /* Further reduced margin */
}

.legend-key span {
  font-size: 8px; /* Further reduced font size */
}

.legend-item span {
  margin-left: 2px; /* Further reduced margin */
}

.legend-title {
  margin-left: 10px; /* Adjust the margin between title and legend items */
}

/* Style for the sidebar */
#sidebar {
  width: 200px; /* Adjust the width as needed */
  height: 100%; /* Make sidebar full height */
  position: fixed; /* Fixed position */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  background-color: #f0f0f0; /* Sidebar background color */
  padding: 20px; /* Add some padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  display: flex; /* Use flexbox for button layout */
  flex-direction: column; /* Buttons stacked vertically */
  justify-content: flex-start; /* Align buttons to the top */
}

/* Style for the buttons */
/* Style for the buttons */
.sidebar-button {
  margin-top: 40px;
  width: 20%;
  background-color: #007bff00; /* Button background color */
  color: #62b9a3; /* Button text color */ /* Adjust vertical padding */
  text-align: center; /* Center text */
  border: none; /* Remove border */
  margin-bottom: 10px; /* Add some space between buttons */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 5px; /* Add border radius */
  margin-left: 93px;
  
}


.sidebar-button:hover {
  background-color: #000000; /* Darker color on hover */
}

/* Style for the buttons at the top */

